@font-face {
    font-family: gohufont;
    src: url(font/gohufont.bdf);
}

body {
    background-color: AliceBlue;
}

p, a#header:link {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 42px;
    padding: 4px 6px;
    color: DarkSlateGray;
}

p#info {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding: 4px 6px;
    color: DarkSlateGray;
}

a:link, a:visited {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: DarkSlateGray;
    padding: 4px 6px;
    text-decoration: none;
    display: block;
}

a#l1:hover, a#l1:active {
    background-color: #FF6663;
}

a#l2:hover, a#l2:active {
    background-color: #FEB144;
}

a#l3:hover, a#l3:active {
    background-color: #FDFD97;
}

a#l4:hover, a#l4:active {
    background-color: #9EE09E;
}

a#l5:hover, a#l5:active {
    background-color: #9EC1CF;
}

a#l6:hover, a#l6:active {
    background-color: #CC99C9;
}

.container {
  height: 95vh;
  position: relative;
}

.column-left {
    width: 50%;
    float:left;
}

.column-right {
    width: 50%;
    float:right;
}

@keyframes logo-default {
    from {transform: rotate(0deg);}
    to {transform: rotate(315deg);}
}

@keyframes logo-lv {
    from {transform: rotate(315deg);}
    to {transform: rotate(0deg);}
}

.logo {
    animation-name: logo-default;
    animation-duration: 1s;
    animation-fill-mode: both;
    transform: rotate(315deg);
}

.logo:hover, .logo:active {
    animation-name: logo-lv;
    animation-duration: 1s;
    animation-fill-mode: both;
}
